#数据库url
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://root:qinwei0913@gz-cdb-9anae6dj.sql.tencentcdb.com:60574/stockdb'
SQLALCHEMY_ECHO = False
SECRET_KEY = '\xfb\x12\xdf\xa1@i\xd6>V\xc0\xbb\x8fp\x16#Z\x0b\x81\xeb\x16'
DEBUG = True